.companies {
  border: 2px solid #000;
  list-style-type: none;
  padding: 0;
}

.companies li {
  border-bottom: 2px solid #000;
}

.companies li:last-child {
  border-bottom: 0;
}

.companies-headers {
  background-color: #d3d3d3;
  display: flex;
  vertical-align: middle;
}

.companies-headers span {
  border-left: 2px solid #000;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  padding: 10px;
  flex: 1;
  word-break: break-word;
}

.companies-headers span:first-child {
  border-left: 0;
  flex: 6;
}
